@page "/nova-transacao"
@using ContaComigo.Client.Services
@inject TransacaoService TransacaoService

<h3>Nova Transação</h3>

<EditForm Model="@transacao" OnValidSubmit="Registrar">
    <InputText @bind-Value="transacao.Descricao" placeholder="Descrição" class="form-control" />
    <InputNumber @bind-Value="transacao.Valor" placeholder="Valor" class="form-control" />
    <InputDate @bind-Value="transacao.Data" class="form-control" />
    <button type="submit">Registrar</button>
</EditForm>

@code {
    TransacaoDto transacao = new()
        {
            Data = DateTime.Today
        };

    async Task Registrar()
    {
        await TransacaoService.RegistrarTransacaoAsync(transacao);
        transacao = new(); // limpa o formulário
    }
}
