<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="typeof(Shared.MainLayout)" RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Shared.MainLayout)">
            <p>Página não encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
